<div class="container body-content">
    <h2>View jobs by:</h2>@*Displays this title on home page*@
    <ul>
        @foreach (var action in ViewBag.actions)//loops thru each actionChoice in HomeController and displays
        {
            <li>
                <a href="/@action.Key">@action.Value</a>@*displays "search" and "view" on homepage*@
            </li>

        }
    </ul>
</div>
